<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title"> Vankon Backoffice User </h4>
      </div>
      <!-- File Upload -->
      <div class="card-body">
        <div class="row">
          <div class="col-md-12 pr-1">
            <div class="card-body">
              <form>
                <div class="row">
                  <div class="col-md-3 pr-1">
                    <div class="form-group">
                      <label>Mobile Number</label>
                      <input type="text" class="form-control"
                       name="mobileNumber" placeholder="Mobile Number"
                        [(ngModel)]="user.mobileNumber">
                    </div>
                  </div>
                  <div class="col-md-6 pr-1">
                    <div class="form-group">
                      <label>Email ID</label>
                      <input type="text" class="form-control" name="emailId" placeholder="Email ID" [(ngModel)]="user.emailId">
                    </div>
                  </div>

                  <div class="col-md-3 pr-1">
                    <div class="form-group">
                      <label>Password</label>
                      <input type="text" class="form-control col-md-12" name="password" placeholder="Password" [(ngModel)]="user.password">
                    </div>
                  </div> 

                </div>
                <div class="row">
                  <div class="update ml-auto mr-auto">
                    <button type="submit" class="btn btn-primary btn-round" (click)="submitUser()">{{userAction}}</button>
                  </div>
                  
                </div>
                <div class="row">
                    <h4>{{responseMessage}}</h4>
                </div>
              </form>
            </div>
      </div>
      </div>
      <!-- End File Upload -->

      <div class="card-body">
        <div class="table-responsive">
            <nav class="navbar">
                <input class="form-control" type="text" name="search" [(ngModel)]="filter">      
              </nav>
          <table class="table">
            <thead class=" text-primary"> 
              <th>
                Mobile Number
              </th>
              <th>
                Email ID
              </th>
              <th (click)="sort('delFlg')">
                Change Status
              </th>
              <th  >
                Update User
              </th>
            </thead>
            <tbody>
              <tr *ngFor="let item of userMaster | orderBy: key : reverse | filter:filter | paginate: { itemsPerPage: 10, currentPage: p }; let i = index">
                <td>
                  {{item.mobileNumber}}
                </td>
                <td>
                  {{item.emailId}}
                </td>
                <td >
                  <button type="submit" [(ngModel)]="item" ngDefaultControl
                   class="{{ (item.delFlg === 'N'?'btn btn-danger':'btn btn-primary') }}" 
                  (click)="changeStatus(item)" >{{ (item.delFlg === 'N'?'Suspend':'Activate') }}</button>
                </td>
                <td>
                  <button type="submit" [(ngModel)]="item" ngDefaultControl class="btn btn-primary" 
                  (click)="update(item)" >Update</button>
                </td>
              </tr>
            </tbody>
            <pagination-controls (pageChange)="p = $event"></pagination-controls>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>