<div class="row">
  
  <div class="col-md-8">
    <div class="card card-user">
      <div class="card-header">
        <h5 class="card-title">Generate QR</h5>
      </div>
      <div class="card-body">
        <form>
          <div class="row">
            <div class="col-md-6 pr-1">
              <div class="form-group">
                <label>Product Id</label>
                <!-- <input type="text" class="form-control" name="productId" placeholder="Product ID" [(ngModel)]="qrRequest.productId"> -->
                <select  class="form-control" [(ngModel)]="selectedProduct" name="item" id="productType" data-live-search="true">
                  <option value="" disabled selected>Select Product</option>
                  <option *ngFor="let item of products" [value]="item.itemCode">{{item.productName}}</option>
                </select>
              </div>
            </div>
            <div class="col-md-6 pl-1">
              <div class="form-group">
                <label>Allocate Points</label>
                <input type="text" class="form-control" name="allocationPoints" placeholder="Allocation Points" [(ngModel)]="qrRequest.pointsForCode">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6 pr-1">
              <div class="form-group">
                <label>Number of QRs</label>
                <input type="text" class="form-control" name="numberQr" placeholder="Number Of QRs" [(ngModel)]="qrRequest.numberOfQrCodeRequired">
              </div>
            </div> 
          </div>
          
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label>Activate Now </label>
                <input type="checkbox" name="chkActivate" [(ngModel)]="qrRequest.activationStatus" 
                  ng-true-value="2" ng-false-value="3" />
              </div>
            </div>
          </div>
          <div class="row">
            <div class="update ml-auto mr-auto">
              <button type="submit" class="btn btn-primary btn-round" (click)="submitQrRequest()">Export QR to Excel</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
